* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: antiquewhite;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right left;
    margin-bottom: 100px;
}

.text-primary {
    color: orange
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-left: 50px;
}

li a {
    text-decoration: none;
    color: brown;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 5px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.banner-subtitle {
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 40px;
}

.banner-section {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-size: 85px;
    font-weight: 800;
}

.banner-description {
    color: aquamarine;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.about {
    background-color: bisque;
    margin-bottom: 200px;
    padding: 130px 150px;
    text-align: center;
}

.about-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;

}

.section-discription {
    font-size: 20px;
    color: Blue;
}

.about-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 25px;
    color: blueviolet;
}

.info-discription {
    font-size: 28px;
    color: black;

}

.What-do {
    background-color: azure;
    align-items: center;
}

.whatdo-title {
    font-size: 50px;
    color: red;
}

.what-container {
    display: flex;
    gap: 25px;
    padding: 20px 30px;
}

.what-info {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 30px;
}